*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    height: 100vh;
    position: relative;
    background-color: rgb(24, 23, 23);
  
}
ul{
    display: flex;
    justify-content: center;
align-items: center;
cursor: pointer;

}

#title{
    position: absolute;
    top: 20px;
    left: 90px;
    color: rgb(255, 192, 97);
 
    h6{
        font-family: "Sevillana", cursive;
        position: absolute;
        top: 11px;
        left: 160px;
        
    }
     h1{
        font-family: "Baskervville SC", serif;
    }
}
.navbar{
    background-color: black;
    height: 80px;
    width: 100%;
    position: -webkit-sticky; /* Pour les navigateurs WebKit comme Safari */
    position: sticky;
    top: 0; /* Positionne la navbar en haut */
    z-index: 1000; /* Assure que la navbar reste au-dessus du contenu */
    box-shadow: 1px 9px 20px -6px rgba(0,0,0,0.86);
-webkit-box-shadow: 1px 9px 20px -6px rgba(0,0,0,0.86);
-moz-box-shadow: 1px 9px 20px -6px rgba(0,0,0,0.86);
}
ul:first-child{
    margin-left: 700px;

}
#t{
    color: #fffed5;
   margin-top: 30px;
   
   margin-right: 40px;
   font-size: larger;
   padding-bottom: 5px;
}
#t:hover{
    border-bottom: 2px  rgb(255, 192, 97) solid;
}
.text{
    color: #ffff;
    h3{

    }
}
